@import "components/reset.scss";
@import "_mixins.scss";
@import "fontawesome/font-awesome.scss";     
@import "components/typography";
@import "components/modular";
@import "components/tables";
@import "components/buttons";
@import "components/ariaListBox";
@import "components/animatedSelect";
@import "components/_tabpanel.scss";


body,
html {
    margin: 10px;
    padding: 10px;

}

.main-page {

    .ul-list {
        margin-left: 20px;
        li {
            margin-top: 15px;
            margin-left: 20px;
            list-style-type: circle;
            a {
                text-decoration: none;
                color: cadetblue;
                &:visited {
                    color: cadetblue;
                }
            }

        }

    }
    
    font-size: 20px;
    
    h1 {
        font-size: 45px;
        margin-bottom: 20px;
        
    }

}

